@{
    ViewBag.Title = "Create";
}
@using DynamicControlCreation.Models.TemplatesAndParameters;
@using AndreyKurdiumov.AspNetCore.Helpers;
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor;
@model Template
<h2>Create Template</h2>
@{
    using(Html.BeginForm("Create","Template",FormMethod.Post))
    {
        @Html.TextBoxFor(m => m.Name, new {required="required"})
        <input type="submit" title="Save" value="Save" />
    }
}
<a asp-controller="TemplateParameter" asp-action="Create" asp-route-TID="@Model.TemplateID" asp-route-ID="0">Create Parameter</a><br />
@*  href='@Url.Action("Create", "TemplateParameter", new { TID = Model.TemplateID,ID=0 })' *@
@{
    if(Model.Parameters!=null){
        WebGrid grid = new WebGrid(HttpContextAccessor, Model.Parameters);
    
        @grid.GetHtml(columns: grid.Columns(
            grid.Column("TemplateParameterID", "ID"),
            grid.Column("TemplateID", "Template ID"),
            grid.Column("Name", "Parameter Name"),
            grid.Column("Type", "Parameter Type"),
            grid.Column("View", "Action", format: (item) => Html.ActionLink("View", "Index", "TemplateParameter", new { ID = item.TemplateParameterID }, new { @class = "aclink" })),
            grid.Column("View", "Action", format: (item) => Html.ActionLink("Edit", "Create", "TemplateParameter", new { ID = item.TemplateParameterID, TID = item.TemplateID }, new { @class = "aclink" }))
        ))
    }
}
<div>
    <a asp-controller="Template" asp-action="Index">< Back</a>
</div>
